
                <div class="page page-tables-bootstrap">

                    <div class="pageheader">

                        <h2>Users <span></span></h2>

                        <div class="page-bar">

                            <ul class="page-breadcrumb">
                                <li>
                                    <a href="index.html"><i class="fa fa-home"></i> mDash</a>
                                </li>
                                <li>
                                    <a href="#">User Management</a>
                                </li>
                                <li>
                                    <a href="">Users</a>
                                </li>
                            </ul>

                        </div>

                    </div>



                    <div class="row">
                        <!-- col -->
                        <div class="col-md-12">


                            <!-- tile -->
                            <section class="tile">

                                <!-- tile header -->
                                <div class="tile-header dvd dvd-btm">
                                    <h1 class="custom-font"><strong>Users</strong> Registery</h1>
                                    <ul class="controls">
                                        <li class="dropdown">

                                            <a role="button" tabindex="0" class="dropdown-toggle settings" data-toggle="dropdown">
                                                <i class="fa fa-cog"></i>
                                              
                                            </a>

                                            <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                                <li>
                                                    <a role="button" tabindex="0" class="tile-toggle">
                                                        <span class="minimize"><i class="fa fa-angle-down"></i>&nbsp;&nbsp;&nbsp;Minimize</span>
                                                        <span class="expand"><i class="fa fa-angle-up"></i>&nbsp;&nbsp;&nbsp;Expand</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a role="button" tabindex="0" class="tile-refresh">
                                                        <i class="fa fa-refresh"></i> Refresh
                                                    </a>
                                                </li>

                                            </ul>

                                        </li>

                                    </ul>
                                </div>
                                <!-- /tile header -->

                                <!-- tile widget -->
                                <div class="tile-widget">

                                    <div class="row">

                                        <div class="col-sm-5">
                                            <select class="input-sm form-control inline w-sm">
                                                <option value="0">Options</option>
                                                <option value="1">Approve access</option>
                                                <option value="2">Decline access</option>
                                                <option value="3">Delete user</option>
                                            </select>
                                            <button class="btn btn-sm btn-default">Apply</button>
                                        </div>

                                        <div class="col-sm-3"></div>

                                        <div class="col-sm-4">
                                            <div class="input-group">
                                                <input type="text" class="input-sm form-control" placeholder="Search...">
                                                  <span class="input-group-btn">
                                                    <button class="btn btn-sm btn-default" type="button">Go!</button>
                                                  </span>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                                <!-- /tile widget -->
<div class="row tile-widget">


            <div class="col-md-4"> <label>User Id </label>
    <input type="text" class="form-control" placeholder="UserId" id="firstname" name="Full Name">
               </div>
           <div class="col-sm-4"> <label> User Name </label>
    <input type="text" class="form-control" placeholder="User Name" id="firstname" name="Full Name">
               </div>
                <div class="col-sm-4">  <label> Status</label>
                    <select class="form-control">
                      <option value="">Active</option>
                      <option value="">Inactive</option>
                 </select></div>
                <!-- /.box -->
            </div>
            <div class="row tile-widget">
            <div class="col-sm-2">
          <button type="button" class="btn btn-primary col-sm-12">Search</button>
        </div>
        <div class="col-sm-2"><a href="user-add.html">
          <button type="button" class="btn btn-primary col-sm-12">Add</button></a>
        </div>
        <div class="col-sm-5" style="margin-top:5px;">
              <label> Display <select style="width:auto">
                            <option>10</option>
                            <option>15</option>
                            <option>25</option>
                            <option>50</option>
                        </select>
                        Records per page
                    </label>
            </div>
        </div>
                                <!-- tile body -->
                                <div class="tile-body p-0">

                                    <div class="table-responsive">
                                        <table class="table mb-0" id="usersList">
                                            <thead>
                                            <tr>
                                                <th style="width:20px;">
                                                   Edit
                                                </th>
                                                <th>User ID</th>
                                                <th>User Name</th>
                                                <th>Email ID</th>
                                                <th >Active/De-Active</th>
												 <th>Reset Password</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
                                            <tr>
                                                <td><label class="checkbox checkbox-custom-alt checkbox-custom-sm m-0"><input type="checkbox" class="selectMe"><i></i></label></td>
                                                <td>1</td>
                                                <td>Otto</td>
                                                <td>@mdo</td>
                                                <td>
                                                   <span class="check-toggler checked toggle-class" data-toggle="checked"></span>
                                                </td>
												<td><a href="#"><img data-toggle="modal"  src="assets/images/pen-checkbox.png" width="20px"> </a></td>
                                            </tr>
                                                <td><label class="checkbox checkbox-custom-alt checkbox-custom-sm m-0"><input type="checkbox" class="selectMe"><i></i></label></td>
                                                 <td>2</td>
                                                <td>Thornton</td>
                                                <td>@fat</td>
                                                <td>
                                                    <span class="check-toggler toggle-class" data-toggle="checked"></span>
                                                </td>
												<td><a href="#"><img data-toggle="modal"  src="assets/images/pen-checkbox.png" width="20px"> </a></td>
                                            </tr>
                                                <td><label class="checkbox checkbox-custom-alt checkbox-custom-sm m-0"><input type="checkbox" class="selectMe"><i></i></label></td>
                                                 <td>3</td>
                                                <td>the Bird</td>
                                                <td>@twitter</td>
                                                <td>
                                                    <span class="check-toggler checked toggle-class" data-toggle="checked"></span>
                                                </td>
												<td><a href="#"><img data-toggle="modal"  src="assets/images/pen-checkbox.png" width="20px"> </a></td>
                                            </tr>
                                                <td><label class="checkbox checkbox-custom-alt checkbox-custom-sm m-0"><input type="checkbox" class="selectMe"><i></i></label></td>
                                                <td>4</td>
                                                <td>Bond</td>
                                                <td>@marvo</td>
                                                <td>
                                                    <span class="check-toggler" data-toggle="checked"></span>
                                                </td>
												<td><a href="#"><img data-toggle="modal"  src="assets/images/pen-checkbox.png" width="20px"> </a></td>
                                            </tr>
                                                <td><label class="checkbox checkbox-custom-alt checkbox-custom-sm m-0"><input type="checkbox" class="selectMe"><i></i></label></td>
                                                <td>5</td>
                                                <td>Cardl</td>
                                                <td>@lurie</td>
                                                <td>
                                                    <span class="check-toggler toggle-class" data-toggle="checked"></span>
                                                </td>
												<td><a href="#"><img data-toggle="modal"  src="assets/images/pen-checkbox.png" width="20px"> </a></td>
                                            </tr>
                                                <td><label class="checkbox checkbox-custom-alt checkbox-custom-sm m-0"><input type="checkbox" class="selectMe"><i></i></label></td>
                                                 <td>6</td>
                                                <td>Minelly</td>
                                                <td>@jen</td>
                                                <td>
                                                    <span class="check-toggler checked toggle-class" data-toggle="checked"></span>
                                                </td>
												<td><a href="#"><img data-toggle="modal"  src="assets/images/pen-checkbox.png" width="20px"> </a></td>
                                            </tr>
                                                <td><label class="checkbox checkbox-custom-alt checkbox-custom-sm m-0"><input type="checkbox" class="selectMe"><i></i></label></td>
                                               <td>7</td>
                                                <td>Stall</td>
                                                <td>@sly</td>
                                                <td>
                                                    <span class="check-toggler checked toggle-class" data-toggle="checked"></span>
                                                </td>
												<td><a href="#"><img data-toggle="modal"  src="assets/images/pen-checkbox.png" width="20px"> </a></td>
                                            </tr>
                                                <td><label class="checkbox checkbox-custom-alt checkbox-custom-sm m-0"><input type="checkbox" class="selectMe"><i></i></label></td>
                                                <td>8</td>
                                                <td>Percy</td>
                                                <td>@arnie</td>
                                                <td>
                                                    <span class="check-toggler checked toggle-class" data-toggle="checked"></span>
                                                </td>
												<td><a href="#"><img data-toggle="modal"  src="assets/images/pen-checkbox.png" width="20px"> </a></td>
                                            </tr>
                                                <td><label class="checkbox checkbox-custom-alt checkbox-custom-sm m-0"><input type="checkbox" class="selectMe"><i></i></label></td>
                                               <td>9</td>
                                                <td>Black</td>
                                                <td>@blacko</td>
                                                <td>
                                                    <span class="check-toggler toggle-class" data-toggle="checked"></span>
                                                </td>
												<td><a href="#"><img data-toggle="modal"  src="assets/images/pen-checkbox.png" width="20px"> </a></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>


                                </div>
                                <!-- /tile body -->

                                <!-- tile footer -->
                                <div class="tile-footer dvd dvd-top">
                                    <div class="row">

                                        <div class="col-sm-5 hidden-xs">
                                            <select class="input-sm form-control w-sm inline">
                                                <option value="0">Bulk action</option>
                                                <option value="1">Delete selected</option>
                                                <option value="2">Archive selected</option>
                                                <option value="3">Copy selected</option>
                                            </select>
                                            <button class="btn btn-sm btn-default">Apply</button>
                                        </div>

                                        <div class="col-sm-3 text-center">
                                            <small class="text-muted">showing 20-30 of 50 items</small>
                                        </div>

                                        <div class="col-sm-4 text-right">
                                            <ul class="pagination pagination-sm m-0">
                                                <li><a href><i class="fa fa-chevron-left"></i></a></li>
                                                <li><a href>1</a></li>
                                                <li><a href>2</a></li>
                                                <li><a href>3</a></li>
                                                <li><a href><i class="fa fa-chevron-right"></i></a></li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                                <!-- /tile footer -->

                            </section>
                            <!-- /tile -->




                        </div>
                        <!-- /col -->
                    </div>
                    <!-- /row -->


                </div>
