<div class="page page-timeline">

  <!-- page header -->
  <div class="pageheader">

    <h2>MEMF<span></span></h2>

    <div class="page-bar">

      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.dashboard"><i class="fa fa-home"></i> mDash</a>
        </li>
        <li>
          <a href="javascript:;">Projects</a>
        </li>
        <li>
          <a ui-sref="app.">MEMF</a>
        </li>
      </ul>

    </div>

  </div>
  <!-- /page header -->






  <!-- page content -->
  <div class="pagecontent">





                <div class="row">
                    <!-- col -->
                    <div class="col-sm-12">


                        <!-- tile -->
                        <section class="tile">

                            <!-- tile header -->
                            <div class="tile-header dvd dvd-btm">
                                <h1 class="custom-font"><strong>Project</strong> Builds</h1>
                                <ul class="controls">
                                    <li class="dropdown">

                                        <a role="button" tabindex="0" class="dropdown-toggle settings" data-toggle="dropdown">
                                            <i class="fa fa-cog"></i>

                                        </a>

                                        <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                            <li>
                                                <a role="button" tabindex="0" class="tile-toggle">
                                                    <span class="minimize"><i class="fa fa-angle-down"></i>&nbsp;&nbsp;&nbsp;Minimize</span>
                                                    <span class="expand"><i class="fa fa-angle-up"></i>&nbsp;&nbsp;&nbsp;Expand</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a role="button" tabindex="0" class="tile-refresh">
                                                    <i class="fa fa-refresh"></i> Refresh
                                                </a>
                                            </li>

                                        </ul>

                                    </li>

                                </ul>
                            </div>
                            <!-- /tile header -->




                            <!-- tile body -->

                            <div class="tile-body p-0" >

                                <div class="table-responsive" style="overflow-y:scroll;height:360px;">
                                    <table class="table mb-0" id="usersList" style="padding-top:30px;padding-bottom:30px;">

                                        <thead>
                                        <tr>
                                            <th>#Build</th>
                                            <th>Commit Date</th>
                                            <th>Build Date/Time</th>
                                            <th>By</th>
                                            <th><center>Build Status</center></th>
                                            <th><center>Change Set</center></th>
                                            <th><center> Logs</center></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>327</td>
                                            <td>2017-4-18 20:20:54</td>
                                            <td>2017-4-18 20:20:54</td>
                                            <td>Chanakya Lokam</td>
                                           <td> <center><i class="fa fa-square text-success"></i></center></td>
                                              <td>  <center><i class="fa fa-eye"></i></center></td>
                                               <td> <center><i class="icon-magnifier"></i></center></td>
                                        </tr>
                                        <tr>
                                            <td>327</td>
                                            <td>2017-4-18 20:20:54</td>
                                            <td>2017-4-18 20:20:54</td>
                                            <td>Chanakya Lokam</td>
                                          <td> <center><i class="fa fa-square text-success"></i></center></td>
                                              <td>  <center><i class="fa fa-eye"></i></center></td>
                                               <td> <center><i class="icon-magnifier"></i></center></td>
                                        </tr>
                                        <tr>
                                            <td>327</td>
                                            <td>2017-4-18 20:20:54</td>
                                            <td>2017-4-18 20:20:54</td>
                                            <td>Chanakya Lokam</td>
                                            <td> <center><i class="fa fa-square text-success"></i></center></td>
                                              <td>  <center><i class="fa fa-eye"></i></center></td>
                                               <td> <center><i class="icon-magnifier"></i></center></td>
                                        </tr>
                                        <tr>
                                            <td>327</td>
                                            <td>2017-4-18 20:20:54</td>
                                            <td>2017-4-18 20:20:54</td>
                                            <td>Chanakya Lokam</td>
                                            <td> <center><i class="fa fa-square text-success"></i></center></td>
                                              <td>  <center><i class="fa fa-eye"></i></center></td>
                                               <td> <center><i class="icon-magnifier"></i></center></td>
                                        </tr>
                                        <tr>
                                            <td>327</td>
                                            <td>2017-4-18 20:20:54</td>
                                            <td>2017-4-18 20:20:54</td>
                                            <td>Chanakya Lokam</td>
                                             <td> <center><i class="fa fa-square text-success"></i></center></td>
                                              <td>  <center><i class="fa fa-eye"></i></center></td>
                                               <td> <center><i class="icon-magnifier"></i></center></td>
                                        </tr>
                                        <tr>
                                            <td>327</td>
                                            <td>2017-4-18 20:20:54</td>
                                            <td>2017-4-18 20:20:54</td>
                                            <td>Chanakya Lokam</td>
                                             <td> <center><i class="fa fa-square text-success"></i></center></td>
                                              <td>  <center><i class="fa fa-eye"></i></center></td>
                                               <td> <center><i class="icon-magnifier"></i></center></td>
                                        </tr>
                                        <tr>
                                            <td>327</td>
                                            <td>2017-4-18 20:20:54</td>
                                            <td>2017-4-18 20:20:54</td>
                                            <td>Chanakya Lokam</td>
                                             <td> <center><i class="fa fa-square text-success"></i></center></td>
                                              <td>  <center><i class="fa fa-eye"></i></center></td>
                                               <td> <center><i class="icon-magnifier"></i></center></td>
                                        </tr>
                                        <tr>
                                            <td>327</td>
                                            <td>2017-4-18 20:20:54</td>
                                            <td>2017-4-18 20:20:54</td>
                                            <td>Chanakya Lokam</td>
                                             <td> <center><i class="fa fa-square text-success"></i></center></td>
                                              <td>  <center><i class="fa fa-eye"></i></center></td>
                                               <td> <center><i class="icon-magnifier"></i></center></td>
                                        </tr>
                                        <tr>
                                            <td>327</td>
                                            <td>2017-4-18 20:20:54</td>
                                            <td>2017-4-18 20:20:54</td>
                                            <td>Chanakya Lokam</td>
                                             <td> <center><i class="fa fa-square text-success"></i></center></td>
                                              <td>  <center><i class="fa fa-eye"></i></center></td>
                                               <td> <center><i class="icon-magnifier"></i></center></td>
                                        </tr>
                                        <tr>
                                            <td>327</td>
                                            <td>2017-4-18 20:20:54</td>
                                            <td>2017-4-18 20:20:54</td>
                                            <td>Chanakya Lokam</td>
                                           <td> <center><i class="fa fa-square text-success"></i></center></td>
                                              <td>  <center><i class="fa fa-eye"></i></center></td>
                                               <td> <center><i class="icon-magnifier"></i></center></td>
                                        </tr>



                                        </tbody>
                                    </table>
                                </div>
                                </div>
                                </section>
                               </div>
                              <section class="tile">
                        <div class="col-sm-12 ">

                       
                            <style>
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
</style>
                                <p style="height:355px;overflow-y:scroll;background-color:#232527;color:#ffffff;padding: 10px 10px;font-family:Inconsolata;">
                                  <font >Running "newer:jshint:all" (newer) task</br>
</br>
Running "jshint:all" (jshint) task</br>
Warning: Path must be a string. Received null Use --force to continue.</br>
</br>
Aborted due to warnings.</br>
</br>
</br>
Execution Time (2017-04-18 16:20:45 UTC)</br>
loading tasks      6ms  ▇▇▇▇▇▇ 13%</br>
newer:jshint:all  19ms  ▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇ 41%</br>
jshint:all        20ms  ▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇ 43%</br>
Total 46ms</br>
</br>
Completed in 3.023s at Tue Apr 18 2017 12:20:45 GMT-0400 (EDT) - Waiting...</br>
>> File "app/scripts/controllers/dashboard.js" changed.</br>
Running "newer:jshint:all" (newer) task</br>
</br>
Running "jshint:all" (jshint) task</br>
Warning: Path must be a string. Received null Use --force to continue.</br>
</br>
Aborted due to warnings.</br>
</br>
</br>
Execution Time (2017-04-18 16:21:00 UTC)</br>
loading tasks      4ms  ▇▇▇▇▇ 9%</br>
newer:jshint:all  17ms  ▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇ 40%</br>
jshint:all        21ms  ▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇ 49%</br>
Total 43ms</br>
                                </p></font>


                            </div>
                        </div>
</section>
                            </div>
                            <!-- /tile body -->




                        <!-- /tile -->

                    </div>
                    <!-- /col -->
                </div>
                <!-- /row -->

            </div>





  </div>
  <!-- /page content -->




</div>
