<header class="clearfix">

  <!-- Branding -->
  <div class="branding {{main.settings.brandingColor}}">
    <a  ui-sref="app.dashboard">
      <span><img src="../images/logoo.png" class="img-responsive" style="height:40px;padding-top:6px;margin-top: 4px;"></span>
    </a>
  


  </div>
  <!-- Branding end -->



  <!-- Left-side navigation -->
  <ul class="nav-left pull-left list-unstyled list-inline">
    <li class="sidebar-collapse divided-right">
      <a href="javascript:;" collapse-sidebar>
        <fa name="outdent"></fa>
      </a>
    </li>

  </ul>
  <!-- Left-side navigation end -->








  <!-- Right-side navigation -->
  <ul class="nav-right pull-right list-inline">




    <li class="dropdown notifications" uib-dropdown>

      <a href class="dropdown-toggle" uib-dropdown-toggle>
        <fa name="bell"></fa>
        <span class="badge bg-lightred">2</span>
      </a>

      <div class="dropdown-menu pull-right with-arrow panel panel-default animated littleFadeInLeft" role="menu">

        <div class="panel-heading">
          You have <strong>2</strong> notifications
        </div>

         <ul class="list-group">

          <li class="list-group-item">
            <a href="javascript:;" class="media">
              <div class="media-left">
                <span class="media-object media-icon bg-danger">
                  <fa name="ban"></fa>
                </span>
              </div>
              <div class="media-body">
                <span class="block">Build has Failed</span>
                <small class="text-muted">6 minutes ago</small>
              </div>
            </a>
          </li>

          <li class="list-group-item">
            <a href="javascript:;" class="media">
              <div class="media-left">
                <span class="media-object media-icon bg-primary">
                  <fa name="bolt"></fa>
                </span>
              </div>
              <div class="media-body">
                <span class="block">Build has Started</span>
                <small class="text-muted">12 minutes ago</small>
              </div>
            </a>
          </li>


        </ul>

        <div class="panel-footer">
          <a href="javascript:;">Show all notifications <fa name="angle-right" class="pull-right"></fa></a>
        </div>

      </div>

    </li>

    <li class="dropdown nav-profile" uib-dropdown>

      <a href class="dropdown-toggle" uib-dropdown-toggle>
        <img src="images/clokam.png" alt="" class="img-circle size-30x30">
        <span>Chanakya Lokam <fa name="angle-down"></fa></span>
      </a>

      <ul class="dropdown-menu animated littleFadeInRight" role="menu">


        <li>
          <a href="#">
            <span class="label bg-lightred pull-right">new</span>
            <fa name="check"></fa>Tasks
          </a>
        </li>
        <li>
          <a href="#">
            <fa name="cog"></fa>Settings
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="#">
            <fa name="lock"></fa>Lock
          </a>
        </li>
        <li>
          <a href="#">
            <fa name="sign-out"></fa>Logout
          </a>
        </li>

      </ul>

    </li>




  </ul>
  <!-- Right-side navigation end -->



</header>
