 <script src="http://code.jquery.com/jquery-2.2.4.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	 <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
	 <style>
	 .tabs-dark .nav-tabs > li.active > a, .tabs-dark .nav-tabs > li.active > a:hover, .tabs-dark .nav-tabs > li.active > a:focus {
    background-color: #2368a0;
    color: white;
}
	 button, select, html, textarea, input {
    font-family: "Lato", sans-serif;
}
input{
	border: 3px solid #e7eaeb !important;
}
input:focus{
border: 3px solid #22beef !important;
}
.md-padding {
    padding-left: 0px;
	padding-top:5px;
}

 border-collapse:collapse;
 padding:5px;
}.lost {
 position:relative;
 top:-110px;left:115px;
}
  
</style>
<style>

.md-padding {
    padding-left: 0px;
	padding-top:5px;
}


</style>

<div class="page page-tables-bootstrap">

  <div class="pageheader">

    <h2>Create New Interface <span></span></h2>

    <div class="page-bar">

      <ul class="page-breadcrumb">
        <li>
          <a href="index.html"><i class="fa fa-home"></i> mDash</a>
        </li>
        <li>
          <a href="#">Interface</a>
        </li>
        <li>
          <a href="">Create New</a>
        </li>
      </ul>
    </div>
  </div>
  
   <div ng-controller="AddInterface">
  <div class="row">
    <!-- col -->
    <div class="col-md-12">
      <!-- tile -->
      <section class="tile" fullscreen="isFullscreen01">


        <!-- tile body -->
		<br>
		
		 
        <div class="tile-body">
		<div class="form-group">
<div class="form-group "> <label for="inputPassword3" class="col-sm-4 control-label"><b> Interface Name</b></label>  <br><br><span class="col-sm-6"><input class="form-control col-sm-6"  id="Interface" placeholder="Interface Name" ng-model="interface_name" ></span> </div><br><br>
<div class="form-group "><label for="inputPassword3" class="col-sm-5 control-label"><b>SVN Password</b></label><br><br><span class="col-sm-6"><input  type="password" class="form-control col-sm-6"  id="svnpassword" placeholder="SVN Password" ng-model="svnpassword" ></span> </div>
		
          <div >


            <div id="raj">

            <div class="tile-body p-0">

	


   <table class="table" id="svnTable">
                                        <thead>
                                        <tr>
                                            <th width="300px;"><br>Flow Name</th>
                                            <th>SVN Path for Flow</th>
                                            <th></th>
                               
										
										</tr>
                                        </thead>
                                        <tbody id="myList">
                                        <tr id="hidethis">
                                            <td>
											<input class="form-control" placeholder="Flow Name"  name="inputflow1" id="inputflow1" type="text" ng-model="flowname1" ng-keyup="myFunc(1)" >	</td>
                                            <td>
											<input class="form-control" placeholder="SVN Path for Flow" id="inputsvn1" type="text" ng-model="Remote_SVN_Path1">
											</td>
                                            <td><button onclick="del()" class="btn btn-sm btn-danger" ng-click="rate = 0" ng-disabled="isReadonly">x</button></td>
										</tr>	
										

										
											
                                     
                                     
                                        
                                        </tbody>
                                    </table>
									<script>
											function del(rownum){
										//	document.getElementById("'input"+count+"'").style.visibility="hidden";
											var row = document.getElementById(rownum);
	//row.parentElement.removeChild(row); 
	    row.parentNode.removeChild(row);
											}
											
											</script>

            </div>
		

	
	
		  </div>
		  
		   <div id="newLayer"></div>
		 
	<br>
	
            </div>
			  <!-- tile body-->
			<div class="row tile-body">
			<div class="col-sm-2">
			 <button type="button" ng-click="myFunction1()" id="showAccordian"  return false;" class="btn btn-blue mb-10 col-sm-10 "><i class="fa fa-plus"></i> &nbsp<b> Add Flow</b></button>
			</div>
			<div class="col-sm-2">
			<!-- <button type="button" ng-click="saveInterface()" class="btn btn-cyan mb-10 col-sm-10"><b>Save Interface</b></button>-->
			<button ng-click="saveInterface()"  class="btn btn-cyan btn-ef btn-ef-7 btn-ef-7h mb-10 col-sm-12" activate-button="loading"><i id="btns" style="display:none;" class="fa fa-refresh fa-spin"></i><span id="load" style="position:relative;left:-15px;"><b>Save Interface</b></span></button>
			</div>
			
			
			</div>
			   
         <!-- /tile body--> 
		 </div>
 
        
        
        </section>
     </div>
  
</div>
</div>
</div>

	
			
		
		  
			
	
