
                <div class="page page-tables-bootstrap">

                    <div class="pageheader">

                        <h2>Add new Library URL in SVN <span></span></h2>

                        <div class="page-bar">

                            <ul class="page-breadcrumb">
                                <li>
                                    <a href="index.html"><i class="fa fa-home"></i> mDash</a>
                                </li>
                                <li>
                                    <a href="">Add New Library URL in SVN</a>
                                </li>

                            </ul>
                            <!--<div class="page-toolbar ng-scope"><a href="javascript:;" ui-sref="app.addinterface" class="btn btn-lightred no-border ng-isolate-scope" > <i class="fa fa-plus"></i>&nbsp;&nbsp;<span class="ng-binding">Add</span> </a> </div>-->
                        </div>

                    </div>
				 <div ng-controller="addLibraryProperties">
                     <!-- row -->
                    <div class="row">
                      <!-- col -->
                      <div class="col-md-12">


<section class="tile" fullscreen="isFullscreen04">
   <!-- tile header --> 
   <div class="tile-header dvd dvd-btm">
      <h1 class="custom-font"><strong>New Library URL in SVN</strong></h1>
     
   </div>
   <!-- /tile header --> <!-- tile body --> 
  

<div class="tile-body">
  <form name="form" class="form-validation mt-20" novalidate ng-submit="submit()" >
      <div class="form-group"> <label >Library URL Key</label> <input type="text" class="form-control underline-input" name="urlKey" placeholder="Library URL Key" ng-model="urlkey" required></div>
      <div class="form-group"> <label >	Library URL value</label> <input type="text" placeholder="Library URL Value"  name="urlvalue" class="form-control underline-input" ng-model="urlvalue" required> </div>
       <br>
	  <div class="form-group"><button type="submit" class="btn btn-blue b-0 br-3  mr-6"  ng-disabled='form.$invalid'>Save To Properties</button></div>
   </form>
   <br>
</div>

</section>


                       
                        <!-- /tile -->

                      </div>
                      <!-- /col -->

                    </div>
                    <!-- /row -->
                    <!-- row -->
                </div>





                </div>
