<style>
.tab:hover{
color:#337ab7 !important;
}
a{
text-decoration:none !important;
}



</style>
<div class="page page-dashboard">

  <div class="pageheader">

    <h2>{{page.title}} <span></span></h2>

    <div class="page-bar">

      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.dashboard"><i class="fa fa-home"></i> mDash</a>
        </li>
        <li>
          <a ui-sref="app.dashboard">{{page.title}}</a>
        </li>
      </ul>



    </div>

  </div>


  <!-- cards row -->
  <div class="row">
    <!-- col -->
    <div class="col-md-8">

      <!-- tile -->
      <section class="tile" fullscreen="isFullscreen01">



        <!-- tile body -->
        <div class="tile-body" ng-controller="ActualStatisticsCtrl">

          <!-- row -->
          <div class="row">


            <!-- col -->
            <div class="col-md-12 col-sm-12">

              <h4 class=" custom-font mb-30"><strong></strong> </h4>

              <!-- row -->
              <div class="row">
                <!-- col -->
                <div class="col-lg-4 text-center">
                  <div easypiechart options="easypiechart.options" percent="easypiechart.percent" class="easypiechart" style="width: 140px; height: 140px;">
                    <p class="text-uppercase text-elg mt-20 mb-0" style="line-height: 100px;"><strong class="text-black">DEV</strong></p>
                  <br> <p class="text-light">&nbsp;</p>
				   <p class="text-uppercase text-elg mt-10 mb-0"><strong class="text-blue"><font color="#0d416b">8,213 </font></strong></p><br>
                 

                </div>
				</div>
                <!-- /col-->
                <!-- col -->
                <div class="col-lg-4 text-center">
                  <div easypiechart options="easypiechart2.options" percent="easypiechart2.percent" class="easypiechart" style="width: 140px; height: 140px;">
                    <p class="text-uppercase text-elg mt-20 mb-0" style="line-height: 100px;"><strong class="text-black">TEST</strong></p>
                    <br> <p class="text-light">&nbsp;</p>
                   <p class="text-uppercase text-elg mt-10 mb-0"><strong class="text-blue">6,175</strong></p><br>

                  </div>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-lg-4 text-center">
                  <div easypiechart options="easypiechart3.options" percent="easypiechart3.percent" class="easypiechart" style="width: 140px; height: 140px;">
                    <p class="text-uppercase text-elg mt-20 mb-0" style="line-height: 100px;"><strong class="text-black">PROD</strong></p>
                    <br> <p class="text-light">&nbsp;</p>
                    <p class="text-uppercase text-elg mt-10 mb-0"><strong class="text-greensea">1632</strong></p><br>

                  </div>
                </div>
                <!-- /col -->
              </div>
              <!-- /row -->

            </div>
            <!-- /col -->




          </div>
          <!-- /row -->

        </div>
        <!-- /tile body -->

      </section>
      <!-- /tile -->

    </div>
    <!-- /col -->
<div class="col-md-4">



      <!-- tile -->
      <section class="tile" fullscreen="isFullscreen01">

        <!-- tile header -->
        <div class="tile-header dvd dvd-btm">
          <h1 class="custom-font">Server Health</h1>

        </div>
        <!-- /tile header -->

        <!-- tile widget -->
        <div class="tile-widget mb-20">
          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-md-6">
              <h4 class="text-light">Jenkins  <i class="fa fa-caret-up text-success"></i></h4>
              <uib-progressbar class="progress-xs not-rounded mb-0" value="20" type="primary"></uib-progressbar>
            </div>
            <!-- /col -->
            <!-- col -->
            <div class="col-md-6">
              <h4 class="text-light">Artifactory  <i class="fa fa-caret-down text-danger"></i></h4>
              <uib-progressbar class="progress-xs not-rounded mb-0" value="90" type="primary"></uib-progressbar>
            </div>
            <!-- /col -->
          </div>
          <!-- /row -->

        </div>
        <!-- /tile widget -->

        <!-- tile body -->
        <div class="tile-body p-0" ng-controller="RealtimeLoadCtrl" style="height: 133px">

          <rickshaw rickshaw-options="options1"
                    rickshaw-features="features1"
                    rickshaw-series="series1">
          </rickshaw>

        </div>
        <!-- /tile body -->

      </section>
      <!-- /tile -->

    </div>



  </div>
  <!-- /row -->




<script>

	function main1(){
document.getElementById("main1").style.backgroundColor="#f5f5f5";
document.getElementById("main3").style.backgroundColor="transparent";
document.getElementById("main2").style.backgroundColor="transparent";
}

	function main2(){
document.getElementById("main2").style.backgroundColor="#f5f5f5";
document.getElementById("main1").style.backgroundColor="transparent";
document.getElementById("main3").style.backgroundColor="transparent";
}

	function main3(){
document.getElementById("main3").style.backgroundColor="#f5f5f5";
document.getElementById("main1").style.backgroundColor="transparent";
document.getElementById("main2").style.backgroundColor="transparent";
}

</script>

  <!-- row -->
  <div class="row">



    <!-- col -->
    <div class="col-md-12">

      <!-- tile -->
      <section class="tile" fullscreen="isFullscreen01">

        <!-- tile header -->
        <div class="tile-header bg-greensea dvd dvd-btm">
          <h1 class="custom-font">Deployment History</h1>
          <ul class="controls">
		   <li class="dropdown" uib-dropdown on-toggle="toggled(open)">

              <a href uib-dropdown-toggle class="dropdown-toggle settings"> DEV <i class="fa fa-angle-down"></i></a>

              <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                
                <li>
                  <a id="main2" href  ng-click="ajaxFaker()" onclick="main2()">
                    TEST
                  </a>
                </li>
                <li>
                  <a id="main3" href  ng-click="ajaxFaker()" onclick="main3()">
                    PROD
                  </a>
                </li>
               

              </ul>

            </li>
            <li ng-controller="DaterangepickerCtrl">
              <a href="javascript:;" daterangepicker="rangeOptions" date-begin="startDate" date-end="endDate">
                <span>{{startDate}} - {{endDate}}</span>&nbsp;&nbsp;<i class="fa fa-angle-down"></i>
              </a>
            </li>
           

          </ul>
        </div>
        <!-- /tile header -->
		<!-- Multi Chart -->
		
		
		
		
		
		<!-- Multi chart Ends -->
		
		
		
		
		

        <!-- tile widget -->
        <div class="tile-widget bg-greensea" ng-controller="StatisticsChartCtrl">

          <flot dataset="dataset" options="options" height="220px"></flot>

        </div>
        <!-- /tile widget -->



      </section>
      <!-- /tile -->

    </div>
    <!-- /col -->

    <!-- col -->

    <!-- /col -->





  </div>
  <!-- /row -->

  <!-- row -->
  <div class="row">


    <!-- col -->
    <div class="col-md-12">

      <!-- tile -->
      <section class="tile" fullscreen="isFullscreen02" ng-controller="BrowseUsageCtrl">




        <!-- tile body -->
        <div class="tile-body p-0">


              <div class="tile-header dvd dvd-btm">
                            <h1 class="custom-font">Recent Deployments</h1>

                        </div>
              <table class="table table-no-border m-0">
                <tbody>
                  <tr>
                    <th> Interface Name </th>
                    <th> Date </th>
                    <th> Time </th>
                    <th> <center>Result</center> </th>
                    <th> <center>Environment </center></th>
                    <th> By </th>
                  </tr>
                  <tr  >
                    <td ><a  ui-sref="app.projectbuild"><font color="#616f77"><span class="tab">CLA_CLIENTMISC_ORM</span></font></a></td>
                    <td> 3 April 2017  </td>
                    <td> 08:04 PM </td>
                    <td><center><i class="fa fa-square text-success"></i></center></td>
                    <td><center>DEV</center></td>
                    <td> Chanakya Lokam</td>
                  </tr>
                  <tr >
                    <td >NLA_FEDMNET_ORM</td>
                    <td> 4 April 2017 </td>
                    <td> 07:44 PM </td>
                    <td><center><i class="fa fa-square text-success"></i></center></td>
                    <td><center>TEST</center></td>
                    <td>Chanakya Lokam</td>
                  </tr>
                  <tr>
                    <td>SETX_DWH_ADT</td>
                    <td> 7 April 2017 </td>
                    <td> 06:14 PM</td>
                    <td><center><i class="fa fa-square text-danger"></i><center></td>
                    <td><center>PROD</center></td>
                    <td>Siva Kusampudi</td>
                  </tr>
                  <tr>
                    <td>MGM_LOADEYTX_SET</td>
                    <td>10 April 2017 </td>
                    <td> 04:46 PM </td>
                    <td><center><i class="fa fa-square text-success"></i></center></td>
                    <td><center>DEV</center></td>
                    <td>Arjun Kanniah</td>
                  </tr>
                  <tr>
                    <td>TIS_QUST_ORM</td>
                    <td>13 April 2017 </td>
                    <td> 07:32 AM </td>
                    <td><center><i class="fa fa-square text-danger"></i><center></td>
                    <td><center>DEV</center></td>
                    <td>Deepika Rangoori</td>
                  </tr>
                  <tr>
                    <td>LMT_CLIENTPRD_ORM</td>
                    <td>14 April 2017</td>
                    <td> 06:06 AM </td>
                    <td><center><i class="fa fa-square text-success"></i></center></td>
                    <td><center>TEST</center></td>
                    <td>Siva Kusampudi</td>
                  </tr>
                  <tr>
                    <td>TIS_QUST_ORM</td>
                    <td>17 April 2017 </td>
                    <td> 04:22 AM </td>
                    <td><center><i class="fa fa-square text-success"></i></center></td>
                    <td><center>TEST</center></td>
                    <td>Chanakya Lokam</td>
                  </tr>
                  <tr>
                    <td>GIF_GODNIS_BLM</td>
                    <td>18 April 2017 </td>
                    <td> 02:58 AM </td>
                    <td><center><i class="fa fa-square text-success"></i></center></td>
                    <td><center>DEV</center></td>
                    <td>Arjun Kanniah</td>
                  </tr>
                  <tr>
                    <td>NBA_CNET_ORM</td>
                    <td>19 April 2017 </td>
                    <td> 02:38 AM </td>
                    <td><center><i class="fa fa-square text-success"></i></center></td>
                    <td><center>PROD</center></td>
                    <td>Chanakya Lokam</td>
                  </tr><tr>
                    <td>WTX_NMYC_OEM</td>
                    <td>20 April 2017 </td>
                    <td> 12:58 AM </td>
                    <td><center><i class="fa fa-square text-success"></i></center></td>
                    <td><center>PROD</center></td>
                    <td>Chanakya Lokam</td>
                  </tr>

                </tbody>
              </table>


        </div>
        <!-- /tile body -->

      </section>
      <!-- /tile -->

    </div>
    <!-- /col -->

  </div>
  <!-- /row -->







</div>
