<style>
.w-sm, .w-150 {
    width: 200px;
}

</style>
                <div class="page page-tables-bootstrap">

                    <div class="pageheader">

                        <h2>Deployment Matrix<span></span></h2>

                        <div class="page-bar">

                            <ul class="page-breadcrumb">
                                <li>
                                    <a href="index.html"><i class="fa fa-home"></i> mDash</a>
                                </li>
                                <li>
                                    <a href="#">User Management</a>
                                </li>
                                <li>
                                    <a href="">Deployment Matrix</a>
                                </li>
                            </ul>

                        </div>

                    </div>



                    <div class="row">
                        <!-- col -->
                        <div class="col-md-12">



<section class="tile" fullscreen="isFullscreen01">
   <!-- tile header --> 
  
   <!-- /tile header --> <!-- tile body --> 
   <div class="tile-body p-0">
      <table class="table">
         <thead>
            <tr>
              <th>JOBS</th>
    <th>DEV</th> 
    <th>TEST</th>
	<th>PROD</th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <td>Library Deployment </td>
               <td>
			  <select class="input-sm form-control inline w-sm">
   <option value="0">Developer </option>
   <option value="1">Release Manager</option>
   <option value="2">Developer + Release Manager </option>
				</select>
				</td>
                <td>
			  <select class="input-sm form-control inline w-sm">
   <option value="0">Developer </option>
   <option value="1">Release Manager</option>
   <option value="2">Developer + Release Manager </option>
				</select>
				</td>
                <td>
			  <select class="input-sm form-control inline w-sm">
   <option value="0">Developer </option>
   <option value="1">Release Manager</option>
   <option value="2">Developer + Release Manager </option>
				</select>
				</td>
            </tr>
            <tr>
               <td>Create Config Service </td>
                <td>
			  <select class="input-sm form-control inline w-sm">
   <option value="0">Developer </option>
   <option value="1">Release Manager</option>
   <option value="2">Developer + Release Manager </option>
				</select>
				</td>
                <td>
			  <select class="input-sm form-control inline w-sm">
   <option value="0">Developer </option>
   <option value="1">Release Manager</option>
   <option value="2">Developer + Release Manager </option>
				</select>
				</td>
                 <td>
			  <select class="input-sm form-control inline w-sm">
   <option value="0">Developer </option>
   <option value="1">Release Manager</option>
   <option value="2">Developer + Release Manager </option>
				</select>
				</td>
            </tr>
            <tr>
               <td>Create Queue</td>
                <td>
			  <select class="input-sm form-control inline w-sm">
   <option value="0">Developer </option>
   <option value="1">Release Manager</option>
   <option value="2">Developer + Release Manager </option>
				</select>
				</td>
                 <td>
			  <select class="input-sm form-control inline w-sm">
   <option value="0">Developer </option>
   <option value="1">Release Manager</option>
   <option value="2">Developer + Release Manager </option>
				</select>
				</td>
                <td>
			  <select class="input-sm form-control inline w-sm">
   <option value="0">Developer </option>
   <option value="1">Release Manager</option>
   <option value="2">Developer + Release Manager </option>
				</select>
				</td>
            </tr>
			 <tr>
               <td>Deploy</td>
                <td>
			  <select class="input-sm form-control inline w-sm">
   <option value="0">Developer </option>
   <option value="1">Release Manager</option>
   <option value="2">Developer + Release Manager </option>
				</select>
				</td>
                 <td>
			  <select class="input-sm form-control inline w-sm">
   <option value="0">Developer </option>
   <option value="1">Release Manager</option>
   <option value="2">Developer + Release Manager </option>
				</select>
				</td>
                 <td>
			  <select class="input-sm form-control inline w-sm">
   <option value="0">Developer </option>
   <option value="1">Release Manager</option>
   <option value="2">Developer + Release Manager </option>
				</select>
				</td>
            </tr>
			 <tr>
               <td>Test-Automation</td>
                <td>
			  <select class="input-sm form-control inline w-sm">
   <option value="0">Developer </option>
   <option value="1">Release Manager</option>
   <option value="2">Developer + Release Manager </option>
				</select>
				</td>
                 <td>
			  <select class="input-sm form-control inline w-sm">
   <option value="0">Developer </option>
   <option value="1">Release Manager</option>
   <option value="2">Developer + Release Manager </option>
				</select>
				</td>
                <td>
			  <select class="input-sm form-control inline w-sm">
   <option value="0">Developer </option>
   <option value="1">Release Manager</option>
   <option value="2">Developer + Release Manager </option>
				</select>
				</td>
            </tr>
         </tbody>
		
      </table>
	  
   </div>
   

<div class="tile-footer ">
   <div class="row">
      <div class="col-sm-3">
         <button type="button" class="btn btn-blue mb-10 col-sm-5"><b> Save </b></button>
      </div>
     
     
   </div>
</div>


   <!-- /tile body --> 
</section>

	   



                        </div>
                        <!-- /col -->
                    </div>
                    <!-- /row -->


                </div>
