
<style>

.md-padding {
    padding-left: 0px;
	padding-top:5px;
}

 border-collapse:collapse;
 padding:5px;
}.lost {
 position:relative;
 top:-110px;left:115px;
}
  
</style>
<style>
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-right:-30px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 80%;
    top: 70px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;} 
    to {top: 70px; opacity: 1;}
}

@keyframes fadein {
    from {top: 0; opacity: 0;} 
    to {top: 70px; opacity: 1;}
}
</style>
</head>
<body>





<div class="page page-tables-bootstrap">

  <div class="pageheader">

    <h2>Edit Interface <span></span></h2>

    <div class="page-bar">

      <ul class="page-breadcrumb">
        <li>
          <a href="index.html"><i class="fa fa-home"></i> mDash</a>
        </li>
        <li>
          <a href="#">Interface</a>
        </li>
        <li>
          <a href="">Edit</a>
        </li>
      </ul>
    </div>
  </div>
  
  
  <div class="row">
    <!-- col -->
    <div class="col-md-12">
      <!-- tile -->
      <section class="tile" fullscreen="isFullscreen01">


        <!-- tile body -->
		<br>
		
		 
        <div class="tile-body">
		<div class="form-group"> <label for="inputPassword3" class="col-sm-2 control-label"><b> Interface Name</b></label> <div class="col-sm-4"> <input class="form-control" id="inputPassword3" placeholder="Interface Name" > </div> </div>
		<br>
		<br>
          <div ng-controller="AccordionDemoCtrl">


            <div id="">

            <div class="tile-body p-0">


<script>
var count=1;
function myFunction() {

	 var x = document.getElementById("svnTable").rows.length; 
	 
    var node = document.createElement("tr");
	node.setAttribute("id","trId"+x);

	node.innerHTML="<td id='input"+x+"'><input class='form-control' placeholder='Flow Name' type='text'>	</td><td><input class='form-control' placeholder='SVN Path for Flow' id='input01' type='text'></td>   <td><button class='btn btn-sm btn-danger' ng-click='rate = 0' ng-disabled='isReadonly' onclick='del("+x+")'>x</button></td>"

    document.getElementById("myList").appendChild(node);
count++;
}

</script>

   <table class="table" id="svnTable">
                                        <thead>
                                        <tr>
                                            <th width="300px;">Flow Name</th>
                                            <th>SVN  Flow Path</th>
                                            <th></th>
                               
										
										</tr>
                                        </thead>
                                        <tbody id="myList">
                                        <tr id="hidethis">
                                            <td>
											<input class="form-control" placeholder="Flow Name" id="input01" type="text">	</td>
                                            <td>
											<input class="form-control" placeholder="SVN  Flow Path" id="input01" type="text">
											</td>
                                            <td><button onclick="del()" class="btn btn-sm btn-danger" ng-click="rate = 0" ng-disabled="isReadonly">x</button></td>
										</tr>	
										

										
											
                                     
                                     
                                        
                                        </tbody>
                                    </table>
									<script>
											function del(rownum){
										//	document.getElementById("'input"+count+"'").style.visibility="hidden";
											var row = document.getElementById('trId'+rownum);
	//row.parentElement.removeChild(row); 
	    row.parentNode.removeChild(row);
											}
											</script>

            </div>
		

	
	
		  </div>
		  
		
		 
	<br>
	
            </div>
			  <!-- tile body-->
			<div class="row tile-body">
			<div class="col-sm-2">
			 <button type="button" ng-click="addItem()" id="showAccordian" onclick="myFunction()"; return false;" class="btn btn-blue mb-10 col-sm-12 "><i class="fa fa-plus"></i> &nbsp<b> Add Flow</b></button>
			</div>
			
			<div class="col-sm-2">
			<button onclick="btnm()"  class="btn btn-cyan btn-ef btn-ef-7 btn-ef-7h mb-10 col-sm-12" activate-button="loading"><i id="btns" style="display:none;" class="fa fa-refresh fa-spin"></i><span id="load"style="position:relative;left:-15px;"><b>Save Interface</b></span></button>
			</div>
			   
         <!-- /tile body--> 
		 </div>
        
        </section>
		
     </div>
  
</div>

</div>

<script>
function btnm(){
    document.getElementById('btns').style.display="block";
	document.getElementById('load').innerHTML="loading";
	document.getElementById('load').style.fontWeight="bold";
}
</script>

	
			
		
		  
			
	
