<style>
.w-sm, .w-150 {
    width: 200px;
}

</style>
                <div class="page page-tables-bootstrap">

                    <div class="pageheader">

                        <h2>Users <span></span></h2>

                        <div class="page-bar">

                            <ul class="page-breadcrumb">
                                <li>
                                    <a href="index.html"><i class="fa fa-home"></i> mDash</a>
                                </li>
                                <li>
                                    <a href="#">User Management</a>
                                </li>
                                <li>
                                    <a href="">Users Details</a>
                                </li>
                            </ul>

                        </div>

                    </div>



                    <div class="row">
                        <!-- col -->
                        <div class="col-md-12">


                            <!-- tile -->
                            <section class="tile">

                                  <div class="tile-body p-0">

                                    <div class="table-responsive">
                                        <table class="table mb-0" id="usersList">
                                            <thead>
                                            <tr>
                                               
                                                <th>User ID</th>
                                                <th>User Name</th>
                                                <th>Email ID</th>
                                                <th >Assign Role</th>
												<th></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                               
                                            <tr>
                                                <td>1221</td>
                                                <td>Alekhya Peethala</td>
                                                <td>alekhya@miraclesoft.com</td>
                                                <td>
							<select class="input-sm form-control inline w-sm">
							<option value="0">View </option>
							<option value="1">Developer </option>
							<option value="2">Release Manager</option>
							<option value="3">Developer + Release Manager </option>
				</select>
				</td>
                                               <td><button type="button" class="btn btn-blue mb-10 col-sm-6 "><b> Save </b></button></td>
                                            </tr>
											 <tr>
                                                <td>1222</td>
                                                <td>Alekhya Peethala</td>
                                                <td>alekhya@miraclesoft.com</td>
                                                <td>
							<select class="input-sm form-control inline w-sm">
							<option value="0">Developer </option>
							<option value="1">View  </option>
							<option value="2">Release Manager</option>
							<option value="3">Developer + Release Manager </option>
				</select>
				</td>
                                               <td><button type="button" class="btn btn-blue mb-10 col-sm-6 "><b> Save </b></button></td>
                                            </tr>
											 <tr>
                                                <td>1223</td>
                                                <td>Mounika</td>
                                                <td>mounika@miraclesoft.com</td>
                                                <td>
							<select class="input-sm form-control inline w-sm">
							<option value="0"> Release Manager</option>
							<option value="1">Developer </option>
							<option value="2">View </option>
							<option value="3">Developer + Release Manager </option>
				</select>
				</td>
                                               <td><button type="button" class="btn btn-blue mb-10 col-sm-6 "><b> Save </b></button></td>
                                            </tr>
                                               <tr>
                                                <td>1224</td>
                                                <td>Mounika</td>
                                                <td>mounika@miraclesoft.com</td>
                                                <td>
							<select class="input-sm form-control inline w-sm">
							<option value="0">Developer + Release Manager </option>
							<option value="1">Developer </option>
							<option value="2">View </option>
							<option value="3">Release Manager </option>
				</select>
				</td>
                                               <td><button type="button" class="btn btn-blue mb-10 col-sm-6 "><b> Save </b></button></td>
                                            </tr> 
                                            </tbody>
                                        </table>
                                    </div>


                                </div>
                                <!-- /tile body -->

                                

                            </section>
                            <!-- /tile -->




                        </div>
                        <!-- /col -->
                    </div>
                    <!-- /row -->


                </div>
