<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js" integrity="sha256-fiM0lX3OYzf0FfLBeLqFuCokh+rf1VhI/eanPbzldUM=" crossorigin="anonymous"></script>	
              
<style>
/* W3.CSS 4.04 Apr 2017 by Jan Egil and Borge Refsnes */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent;-webkit-text-decoration-skip:objects}
a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}

button,input{overflow:visible}button,select{text-transform:none}
button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-input-placeholder{color:inherit;opacity:0.54}

hr{border:0;border-top:1px solid #eee;margin:20px 0}
.w3-image{max-width:100%;height:auto}img{margin-bottom:-5px}a{color:inherit}
.w3-table,.w3-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.w3-table-all{border:1px solid #ccc}
.w3-bordered tr,.w3-table-all tr{border-bottom:1px solid #ddd}.w3-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.w3-table-all tr:nth-child(odd){background-color:#fff}.w3-table-all tr:nth-child(even){background-color:#f1f1f1}
.w3-hoverable tbody tr:hover,.w3-ul.w3-hoverable li:hover{background-color:#ccc}.w3-centered tr th,.w3-centered tr td{text-align:center}
.w3-table td,.w3-table th,.w3-table-all td,.w3-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.w3-table th:first-child,.w3-table td:first-child,.w3-table-all th:first-child,.w3-table-all td:first-child{padding-left:16px}
.w3-btn,.w3-button{border:none;display:inline-block;outline:0;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.w3-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.w3-btn,.w3-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.w3-disabled,.w3-btn:disabled,.w3-button:disabled{cursor:not-allowed;opacity:0.3}.w3-disabled *,:disabled *{pointer-events:none}
.w3-btn.w3-disabled:hover,.w3-btn:disabled:hover{box-shadow:none}
.w3-badge,.w3-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.w3-badge{border-radius:50%}
.w3-ul{list-style-type:none;padding:0;margin:0}.w3-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.w3-ul li:last-child{border-bottom:none}
.w3-tooltip,.w3-display-container{position:relative}.w3-tooltip .w3-text{display:none}.w3-tooltip:hover .w3-text{display:inline-block}
.w3-ripple:active{opacity:0.5}.w3-ripple{transition:opacity 0s}
.w3-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.w3-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.w3-dropdown-click,.w3-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.w3-dropdown-hover:hover .w3-dropdown-content{display:block;z-index:1}
.w3-dropdown-hover:first-child,.w3-dropdown-click:hover{background-color:#ccc;color:#000}
.w3-dropdown-hover:hover > .w3-button:first-child,.w3-dropdown-click:hover > .w3-button:first-child{background-color:#ccc;color:#000}
.w3-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0}
.w3-check,.w3-radio{width:24px;height:24px;position:relative;top:6px}
.w3-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.w3-bar-block .w3-dropdown-hover,.w3-bar-block .w3-dropdown-click{width:100%}
.w3-bar-block .w3-dropdown-hover .w3-dropdown-content,.w3-bar-block .w3-dropdown-click .w3-dropdown-content{min-width:100%}
.w3-bar-block .w3-dropdown-hover .w3-button,.w3-bar-block .w3-dropdown-click .w3-button{width:100%;text-align:left;padding:8px 16px}
.w3-main,#main{transition:margin-left .4s}
.w3-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.w3-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.w3-bar{width:100%;overflow:hidden}.w3-center .w3-bar{display:inline-block;width:auto}
.w3-bar .w3-bar-item{padding:8px 16px;float:left;width:auto;border:none;outline:none;display:block}
.w3-bar .w3-dropdown-hover,.w3-bar .w3-dropdown-click{position:static;float:left}
.w3-bar .w3-button{white-space:normal}
.w3-bar-block .w3-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;outline:none;white-space:normal;float:none}
.w3-bar-block.w3-center .w3-bar-item{text-align:center}.w3-block{display:block;width:100%}
.w3-responsive{overflow-x:auto}
.w3-container:after,.w3-container:before,.w3-panel:after,.w3-panel:before,.w3-row:after,.w3-row:before,.w3-row-padding:after,.w3-row-padding:before,
.w3-cell-row:before,.w3-cell-row:after,.w3-clear:after,.w3-clear:before,.w3-bar:before,.w3-bar:after{content:"";display:table;clear:both}
.w3-col,.w3-half,.w3-third,.w3-twothird,.w3-threequarter,.w3-quarter{float:left;width:100%}
.w3-col.s1{width:8.33333%}.w3-col.s2{width:16.66666%}.w3-col.s3{width:24.99999%}.w3-col.s4{width:33.33333%}
.w3-col.s5{width:41.66666%}.w3-col.s6{width:49.99999%}.w3-col.s7{width:58.33333%}.w3-col.s8{width:66.66666%}
.w3-col.s9{width:74.99999%}.w3-col.s10{width:83.33333%}.w3-col.s11{width:91.66666%}.w3-col.s12{width:99.99999%}
@media (min-width:601px){.w3-col.m1{width:8.33333%}.w3-col.m2{width:16.66666%}.w3-col.m3,.w3-quarter{width:24.99999%}.w3-col.m4,.w3-third{width:33.33333%}
.w3-col.m5{width:41.66666%}.w3-col.m6,.w3-half{width:49.99999%}.w3-col.m7{width:58.33333%}.w3-col.m8,.w3-twothird{width:66.66666%}
.w3-col.m9,.w3-threequarter{width:74.99999%}.w3-col.m10{width:83.33333%}.w3-col.m11{width:91.66666%}.w3-col.m12{width:99.99999%}}
@media (min-width:993px){.w3-col.l1{width:8.33333%}.w3-col.l2{width:16.66666%}.w3-col.l3{width:24.99999%}.w3-col.l4{width:33.33333%}
.w3-col.l5{width:41.66666%}.w3-col.l6{width:49.99999%}.w3-col.l7{width:58.33333%}.w3-col.l8{width:66.66666%}
.w3-col.l9{width:74.99999%}.w3-col.l10{width:83.33333%}.w3-col.l11{width:91.66666%}.w3-col.l12{width:99.99999%}}
.w3-content{max-width:980px;margin:auto}.w3-rest{overflow:hidden}
.w3-cell-row{display:table;width:100%}.w3-cell{display:table-cell}
.w3-cell-top{vertical-align:top}.w3-cell-middle{vertical-align:middle}.w3-cell-bottom{vertical-align:bottom}
.w3-hide{display:none!important}.w3-show-block,.w3-show{display:block!important}.w3-show-inline-block{display:inline-block!important}
@media (max-width:600px){.w3-modal-content{margin:0 10px;width:auto!important}.w3-modal{padding-top:30px}
.w3-dropdown-hover.w3-mobile .w3-dropdown-content,.w3-dropdown-click.w3-mobile .w3-dropdown-content{position:relative}	
.w3-hide-small{display:none!important}.w3-mobile{display:block;width:100%!important}.w3-bar-item.w3-mobile,.w3-dropdown-hover.w3-mobile,.w3-dropdown-click.w3-mobile{text-align:center}
.w3-dropdown-hover.w3-mobile,.w3-dropdown-hover.w3-mobile .w3-btn,.w3-dropdown-hover.w3-mobile .w3-button,.w3-dropdown-click.w3-mobile,.w3-dropdown-click.w3-mobile .w3-btn,.w3-dropdown-click.w3-mobile .w3-button{width:100%}}
@media (max-width:768px){.w3-modal-content{width:500px}.w3-modal{padding-top:50px}}
@media (min-width:993px){.w3-modal-content{width:900px}.w3-hide-large{display:none!important}.w3-sidebar.w3-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.w3-hide-medium{display:none!important}}
@media (max-width:992px){.w3-sidebar.w3-collapse{display:none}.w3-main{margin-left:0!important;margin-right:0!important}}
.w3-top,.w3-bottom{position:fixed;width:100%;z-index:1}.w3-top{top:0}.w3-bottom{bottom:0}
.w3-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.w3-display-topleft{position:absolute;left:0;top:0}.w3-display-topright{position:absolute;right:0;top:0}
.w3-display-bottomleft{position:absolute;left:0;bottom:0}.w3-display-bottomright{position:absolute;right:0;bottom:0}
.w3-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.w3-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.w3-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.w3-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.w3-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.w3-display-container:hover .w3-display-hover{display:block}.w3-display-container:hover span.w3-display-hover{display:inline-block}.w3-display-hover{display:none}
.w3-display-position{position:absolute}
.w3-circle{border-radius:50%}
.w3-round-small{border-radius:2px}.w3-round,.w3-round-medium{border-radius:4px}.w3-round-large{border-radius:8px}.w3-round-xlarge{border-radius:16px}.w3-round-xxlarge{border-radius:32px}
.w3-row-padding,.w3-row-padding>.w3-half,.w3-row-padding>.w3-third,.w3-row-padding>.w3-twothird,.w3-row-padding>.w3-threequarter,.w3-row-padding>.w3-quarter,.w3-row-padding>.w3-col{padding:0 8px}
.w3-container,.w3-panel{padding:0.01em 16px}.w3-panel{margin-top:16px;margin-bottom:16px}

.w3-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}

.w3-card,.w3-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.w3-card-4,.w3-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.w3-spin{animation:w3-spin 2s infinite linear}@keyframes w3-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.w3-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.w3-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.w3-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.w3-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.w3-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.w3-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.w3-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.w3-animate-input{transition:width 0.4s ease-in-out}.w3-animate-input:focus{width:100%!important}
.w3-opacity,.w3-hover-opacity:hover{opacity:0.60}.w3-opacity-off,.w3-hover-opacity-off:hover{opacity:1}
.w3-opacity-max{opacity:0.25}.w3-opacity-min{opacity:0.75}
.w3-greyscale-max,.w3-grayscale-max,.w3-hover-greyscale:hover,.w3-hover-grayscale:hover{filter:grayscale(100%)}
.w3-greyscale,.w3-grayscale{filter:grayscale(75%)}.w3-greyscale-min,.w3-grayscale-min{filter:grayscale(50%)}
.w3-sepia{filter:sepia(75%)}.w3-sepia-max,.w3-hover-sepia:hover{filter:sepia(100%)}.w3-sepia-min{filter:sepia(50%)}

.w3-left-align{text-align:left!important}.w3-right-align{text-align:right!important}.w3-justify{text-align:justify!important}.w3-center{text-align:center!important}
.w3-border-0{border:0!important}.w3-border{border:1px solid #ccc!important}
.w3-border-top{border-top:1px solid #ccc!important}.w3-border-bottom{border-bottom:1px solid #ccc!important}
.w3-border-left{border-left:1px solid #ccc!important}.w3-border-right{border-right:1px solid #ccc!important}
.w3-topbar{border-top:6px solid #ccc!important}.w3-bottombar{border-bottom:6px solid #ccc!important}
.w3-leftbar{border-left:6px solid #ccc!important}.w3-rightbar{border-right:6px solid #ccc!important}
.w3-section,.w3-code{margin-top:16px!important;margin-bottom:16px!important}
.w3-margin{margin:16px!important}.w3-margin-top{margin-top:16px!important}.w3-margin-bottom{margin-bottom:16px!important}
.w3-margin-left{margin-left:16px!important}.w3-margin-right{margin-right:16px!important}
.w3-padding-small{padding:4px 8px!important}.w3-padding{padding:8px 16px!important}.w3-padding-large{padding:12px 24px!important}
.w3-padding-16{padding-top:16px!important;padding-bottom:16px!important}.w3-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.w3-padding-32{padding-top:32px!important;padding-bottom:32px!important}.w3-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.w3-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.w3-left{float:left!important}.w3-right{float:right!important}
.w3-button:hover{color:#000!important;background-color:#ccc!important}
.w3-transparent,.w3-hover-none:hover{background-color:transparent!important}
.w3-hover-none:hover{box-shadow:none!important}
</style>
			  <div class="page page-tables-bootstrap">

                    <div class="pageheader">

                        <h2>View Interface <span></span></h2>

                        <div class="page-bar">

                            <ul class="page-breadcrumb">
                                <li>
                                    <a href="index.html"><i class="fa fa-home"></i> mDash</a>
                                </li>
                                <li>
                                    <a ng-model="interfaceName" id="interfaceName" href="">{{interfaceName}}</a>
                                </li>
                            </ul>
							<!-- ui-sref="app.editinterface" -->
                            <div class="page-toolbar ng-scope"> <a href="javascript:;" class="btn btn-lightred no-border ng-isolate-scope" ng-click="edit()" > <i class="fa fa-edit"></i>&nbsp;&nbsp;<span class="ng-binding">Edit</span> </a> </div>
                        </div>

                    </div>

                    <!-- row -->
                    <div class="row">


                      <!-- col -->
                      <div class="col-md-6">

                        <!-- tile -->
                        <section class="tile" fullscreen="isFullscreen02">
                          <div class="tile-header dvd dvd-btm">
                          <h1 class="custom-font">Flows</h1>

                          </div>
                          <!-- tile body -->
                          <div class="tile-body p-0" style="overflow-y:scroll;height:225px;">



                                <table class="table table-no-border m-0" >
                                  <tbody>
                                    <tr>
                                      <th> Flow Name </th>
                                      <th> Created Date </th>
                                      <th> Time </th>
                                      <th> <center>Result</center> </th>
                                      <th> <center>Environment </center></th>

                                    </tr>
                                    <!-- <tr  >
                                      <td ><a  ui-sref="app.projectbuild"><font color="#616f77"><span class="tab">CLA_CLIENTMISC_ORM</span></font></a></td>
                                      <td> 3 April 2017  </td>
                                      <td> 08:04 PM </td>
                                      <td><center><i class="fa fa-square text-success"></i></center></td>
                                      <td><center>DEV</center></td>

                                    </tr>
                                    <tr >
                                      <td >NLA_FEDMNET_ORM</td>
                                      <td> 4 April 2017 </td>
                                      <td> 07:44 PM </td>
                                      <td><center><i class="fa fa-square text-success"></i></center></td>
                                      <td><center>TEST</center></td>

                                    </tr>
                                    <tr>
                                      <td>SETX_DWH_ADT</td>
                                      <td> 7 April 2017 </td>
                                      <td> 06:14 PM</td>
                                      <td><center><i class="fa fa-square text-danger"></i><center></td>
                                      <td><center>PROD</center></td>

                                    </tr>
                                    <tr>
                                      <td>SETX_DWH_ADT</td>
                                      <td> 7 April 2017 </td>
                                      <td> 06:14 PM</td>
                                      <td><center><i class="fa fa-square text-danger"></i><center></td>
                                      <td><center>PROD</center></td>

                                    </tr><tr>
                                      <td>SETX_DWH_ADT</td>
                                      <td> 7 April 2017 </td>
                                      <td> 06:14 PM</td>
                                      <td><center><i class="fa fa-square text-danger"></i><center></td>
                                      <td><center>PROD</center></td>

                                    </tr>
                                    <tr>
                                      <td>SETX_DWH_ADT</td>
                                      <td> 7 April 2017 </td>
                                      <td> 06:14 PM</td>
                                      <td><center><i class="fa fa-square text-danger"></i><center></td>
                                      <td><center>PROD</center></td>

                                    </tr><tr>
                                      <td>SETX_DWH_ADT</td>
                                      <td> 7 April 2017 </td>
                                      <td> 06:14 PM</td>
                                      <td><center><i class="fa fa-square text-danger"></i><center></td>
                                      <td><center>PROD</center></td>

                                    </tr>
                                    <tr>
                                      <td>SETX_DWH_ADT</td>
                                      <td> 7 April 2017 </td>
                                      <td> 06:14 PM</td>
                                      <td><center><i class="fa fa-square text-danger"></i><center></td>
                                      <td><center>PROD</center></td>

                                    </tr> -->
									<tr ng-repeat="x in flows">
									  <td  ng-click="flow(x.flowname)"><font color="#616f77"><span class="tab">{{x.flowname}}</span></font></td>
                                       <td> 7 April 2017 </td>
                                      <td> 06:14 PM</td>
                                      <td><center><i class="fa fa-square text-danger"></i><center></td>
                                      <td><center>PROD</center></td>
                                    </tr>


                                  </tbody>
                                </table>


                          </div>
                          <!-- /tile body -->

                        </section>
                        <!-- /tile -->

                      </div>
                      <!-- /col -->
                      <!-- col -->
                      <div class="col-md-6">

                        <!-- tile -->
                        <section class="tile bg-slategray" fullscreen="isFullscreen01">



                          <!-- tile body -->
                          <div class="tile-body" ng-controller="ActualStatisticsCtrl">

                            <!-- row -->
                            <div class="row">


                              <!-- col -->
                              <div class="col-md-12 col-sm-12">

                                <h4 class=" custom-font mb-20"><strong></strong> </h4>

                                <!-- row -->
                                <div class="row bg-slategray">
                                  <!-- col -->
                                  <div class="col-lg-4 text-center">
                                    <div easypiechart options="easypiechart.options" percent="easypiechart.percent" class="easypiechart" style="width: 140px; height: 140px;">
                                      <p class="text-uppercase text-elg mt-20 mb-0" style="line-height: 100px;"><strong class="text-white">4/4</strong></p>
                                      <br>
                                    <p class="text-uppercase text-elg mt-20 mb-0"><strong class="text-white">Dev</strong> </p>
                                    <p class="text-light">v3.2 - April 11th,2017</p>
                                  </div>
                                </div>
                                  <!-- /col-->
                                  <!-- col -->
                                  <div class="col-lg-4 text-center">
                                    <div easypiechart options="easypiechart2.options" percent="easypiechart2.percent" class="easypiechart" style="width: 140px; height: 140px;">
                                      <p class="text-uppercase text-elg mt-20 mb-0" style="line-height: 100px;"><strong class="text-white">3/4</strong></p><br>
                                      <p class="text-uppercase text-elg mt-20 mb-0"><strong class="text-white">Test</strong> </p>
                                      <p class="text-light">v4.1 - April 18th,2017</p>
                                    </div>
                                  </div>
                                  <!-- /col -->
                                  <!-- col -->
                                  <div class="col-lg-4  text-center">
                                    <div easypiechart options="easypiechart3.options" percent="easypiechart3.percent" class="easypiechart" style="width: 140px; height: 140px;">
                                      <p class="text-uppercase text-elg mt-20 mb-0" style="line-height: 100px;"><strong class="text-white">2/4</strong></p><br>
                                      <p class="text-uppercase text-elg mt-20 mb-0"><strong class="text-white">Prod</strong> </p>
                                      <p class="text-light">v4.4 - April 27th, 2017 </p>
                                    </div>
                                  </div>
                                  <!-- /col -->
                                </div>
                                <!-- /row -->

                              </div>
                              <!-- /col -->

                    </div>
                    <!-- /row -->
</div>
</div>
</div>




                    <!-- row -->
                    <div class="row">
                      <!-- col -->
                      <div class="col-md-12">

                        <!-- tile -->
                        <section class="tile" fullscreen="isFullscreen02" ng-controller="BrowseUsageCtrl">
                          <!-- tile body -->
                          <div class="tile-body p-0">

                           <div class="tile-header dvd dvd-btm">
                            <h1 class="custom-font">Recent Jobs</h1>

                        </div>

                                <table class="table table-no-border m-0" style="overflow-y:scroll">
                                  <tbody>
                                    <tr>
                                      <th> Flow Name </th>
									  <th> Job Type </th>
									  <th> Last Updated </th>
                                      <th> Created Date </th>
                                     
                                      <th> <center>Result</center> </th>
                                      <th> <center>Environment </center></th>
                                      <th> By </th>
                                    </tr>
                                    <tr>
                                      <td><a ui-sref="app.projectbuild" href="#/app/projectbuild"><font color="#616f77"><span class="tab">CLA_CLIENTMISC_ORM</span></font></a></td>
                                       <td>Rollback</td>
									  <td> 3 April 2017,07:44 PM  </td>
									 <td> 3 April 2017,07:44 PM  </td>
                                      
                                      <td><center><i class="fa fa-square text-success"></i></center></td>
                                      <td><center>DEV</center></td>
                                      <td> Chanakya Lokam</td>
                                    </tr>
                                    <tr>
                                      <td>NLA_FEDMNET_ORM</td>
									  <td>Rollback</td>
                                      <td> 4 April 2017,07:44 PM </td>
									  <td> 3 April 2017,07:44 PM </td>
                                      <td><center><i class="fa fa-square text-success"></i></center></td>
                                      <td><center>TEST</center></td>
                                      <td>Chanakya Lokam</td>
                                    </tr>

                                  </tbody>
                                </table>


                          </div>
                          <!-- /tile body -->

                        </section>
                        <!-- /tile -->

                      </div>
                      <!-- /col -->

                    </div>
                    <!-- /row -->
                    <!-- row -->
                    <div class="row">
                      <!-- col -->
                      <div class="col-sm-6">

                        <!-- tile -->
                        <section class="tile" fullscreen="isFullscreen02" >
                          <!-- tile body -->
                          <div class="tile-body p-0">

                            <div class="tile-header dvd dvd-btm">
                            <h1 class="custom-font">Invoke Test</h1>

                        </div>
                             <div class="tile-body ng-scope">

                                    <form role="form" class="ng-pristine ng-valid">
<div class="row">
<br>
			<div class="col-sm-4">
			 <button type="button"   ng-click="ChangeSenderConfigService()" class="btn btn-blue mb-10 col-sm-12 "><b> Update Sender Config</b></button>
			</div>
			<div class="col-sm-4">
			<button type="button"  ng-click="runtest()" class="btn btn-blue mb-10 col-sm-12 "><b> Run Test</b></button>
			</div>
			</div>
<div id="id01" class="w3-modal" ng-show="buildmodal">
    
   <div class="w3-modal-content">
      <div class="w3-container" >
        <span ng-click="close()" class="w3-button w3-display-topright">&times;</span><br>
        <br>
            <div class="form-group row">
    <div class="col-sm-6">
	 <div id="ConfigServiceName " >
                    <label for="ConfigServiceName  ">ConfigServiceName  </label>
                    <input class="form-group col-sm-12" id="ConfigServiceName" type="text" ng-model="ConfigServiceName"></input>
                </div>
				 <div id="SenderPort_Num " >
                    <label for="SenderPort_Num  ">SenderPort_Num  </label>
                    <input class="form-group col-sm-12" id="SenderPort_Num" type="text" ng-model="SenderPort_Num"></input>
                </div>
				   
               
               
                <div id="password " >
                    <label for="password  ">password  </label>
                    <input class="form-group col-sm-12" id="password  " type="text" ng-model="password"></input>
                </div>
	</div>
	<div class="col-sm-6">
	<div id="SenderHost_IP " >
                    <label for="SenderHost_IP  ">SenderHost_IP  </label>
                    <input class="form-group col-sm-12" id="SenderHost_IP  " type="text" ng-model="SenderHost_IP"></input>
                </div>
				 <div id="username " >
                    <label for="username  ">username  </label>
                    <input class="form-group col-sm-12" id="username  " type="text" ng-model="username"></input>
                </div>
	</div>
            </div>
            <div class="form-group row col-sm-12">
            <button type="button" class="btn btn-darkgray mb-10 col-sm-3"  ng-click="change()">Change ConfigService</button>
            </div>
      </div>
    </div>
  </div>
                         <div id="id02" class="w3-modal" ng-show="buildmodal1">
   <div class="w3-modal-content">
      <div class="w3-container" >
        <span ng-click="close1()" class="w3-button w3-display-topright">&times;</span><br>
        <br>
            <div class="form-group row">
    <div class="col-sm-6">
	<div id="InputData   " >
                    <label for="InputData    ">InputData    </label>
                    <textarea class="form-group col-sm-12" id="InputData" type="text" ng-model="InputData"></textarea>
                </div>
				  <div id="iibhost  " >
                    <label for="iibhost   ">iibhost   </label>
                    <input class="form-group col-sm-12" id="iibhost   " type="text" ng-model="iibhost   "></input>
                </div>
	</div>
	 <div class="col-sm-6">
	  <div id="ReceiverPort  " >
                    <label for="ReceiverPort   ">ReceiverPort   </label>
                    <input class="form-group col-sm-12" id="ReceiverPort   " type="text" ng-model="ReceiverPort   "></input>
                </div>
				 <div id="FlowName  " >
                    <label for="FlowName   ">FlowName   </label>
                    <input class="form-group col-sm-12" id="FlowName   " type="text" ng-model="FlowName   "></input>
                </div>  
	 </div>
            </div>
            <div class="form-group row col-sm-12">
            <button type="button" class="btn btn-darkgray mb-10 col-sm-3" ng-click="test()">Run Test </button>
            </div>
      </div>
    </div>
  </div>
</div>

<div>
<div style="margin-top:20px;">
<!-- <div id="inputlable" style="float:left">
<label for="male">Input Data</label>
</div>
<div id="inputdata" style="float:left">
<textarea name="comment" form="inputData" rows="10" cols="70" >MSH|^~\&|RAD.NLA^NLA.LIVE^CHRS|NHL||NHL|201705031122||ORM^O01|132363645|P|2.3|||AL|NE
PID|1|03437216|MD123456|MD12345|ABC^DEF^^^^||19450111|F||||||||||AA0000679844
PV1|1|I|3S^AA.322^A|ER|||R123EX1^R12NI^PMAN^MD^^^||ABXDE1^AURU^JUA^D PA-C^^^|MED||||PHY|||BE1^BORA^SAI^P MD^^^|IN||MC|||||||||||||||||||NHL||ADM|||201704291736||||||
AL1|1|DA^^^Allergy|F001900590^No Known Drug Allergies^CODED|||20170429
ORC|NW|2656808.002|||L|N|||201705031122|DRYG1|||AA.3S|||||NHL
OBR|1|2656808.002|17-0037326|SP^USGDVA^US GUID VASCULAR ACCESS||20170503||||||||||S345AM1^^PAUL^M^MD^^^||SP^20170503-0013|XA||||||||1^^^20170503^^R||||ITS.RFEICD^T80.1XXA|DRYG1||DRYG1^ABD^123^R^^^|
OBX|1|CE|ITS.CONALL^Allergic to contrast?||N^No
OBX|2|TX|ITS.RFEICD^Diagnosis Code:||T80.1XXA
OBX|3|CE|OETRNSP3^Transport Info||BIV^Bed with IV
</textarea>
</div>
<div style="clear:both"></div>
</div>
<div style="margin-top:20px;">
<label for="male">ReceiverPort</label>
<input type="text" placeholder="20402" />
</div>
<div style="margin-top:20px;">
<label for="male">iibhost</label>
<input type="text" placeholder="icisr031.echristus.net" />
</div>
<div style="margin-top:20px;">
<label for="male">Flow Name</label>
<input type="text" placeholder="SPN_MTPACS_ORM_Receiver" />
</div> -->

</div>
                                     
                                    </form>

                                </div>  


                          </div>
                          <!-- /tile body -->

                        </section>
						</div>
						
						<div class="col-sm-6">
						  <section class="tile" fullscreen="isFullscreen02" >
						  <style>
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
</style>
                                <div id="console2" class="demo" style="height:150px;overflow-y:scroll;background-color:#232527;color:#ffffff;padding: 10px 10px;font-family:Inconsolata;">
                                  <font>
								 </font>
                                </div>
						  </section>
						</div>
						</div>
                        <!-- /tile -->
<section class="tile" fullscreen="isFullscreen02" ng-controller="BrowseUsageCtrl">
                          <!-- tile body -->
                          <div class="tile-body p-0">
                           <div class="tile-header dvd dvd-btm">
                            <h1 class="custom-font">Recent Tests</h1>
                        </div>
                                <table class="table table-no-border m-0" style="overflow-y:scroll">
                                  <tbody>
                                    <tr>
                                      <th> Flow Name </th>
									  <th> Job Type </th>
									 
                                      <th> Created Date </th>
                                      <th> <center>Result</center> </th>
                                      <th> <center>Environment </center></th>
                                      <th> By </th>
                                    </tr>
                                    <tr>
                                      <td><a ui-sref="app.projectbuild" href="#/app/projectbuild"><font color="#616f77"><span class="tab">CLA_CLIENTMISC_ORM</span></font></a></td>
                                       <td>Rollback</td>
									 <td> 3 April 2017,07:44 PM  </td>
                                      
                                      <td><center><i class="fa fa-square text-success"></i></center></td>
                                      <td><center>DEV</center></td>
                                      <td> Chanakya Lokam</td>
                                    </tr>
                                    <tr>
                                      <td>NLA_FEDMNET_ORM</td>
									  <td>Rollback</td>
									  <td> 3 April 2017,07:44 PM </td>
                                      <td><center><i class="fa fa-square text-success"></i></center></td>
                                      <td><center>TEST</center></td>
                                      <td>Chanakya Lokam</td>
                                    </tr>
                                  </tbody>
                                </table>
                          </div>
                          <!-- /tile body -->

                        </section>
                      </div>
                      <!-- /col -->

                    </div>
                    <!-- /row -->





                </div>
